{% extends 'all-insta/base.html' %}
{% load bootstrap3 %}

{% load static %}
{% block content%}
{{ block.super }}


<div class="container" style="float:left; padding-top:120px">
    <div class="row">

        <div class="col-md-6">
            {% if profile.profile_photo %}
                <img src="{{profile.profile_photo.url}}" alt="" style="border-radius:50%; width:300px; height:300px; padding:0px; margin:0px;">
                
            {% endif %}
            <p>{{user.profile.bio}}</p>
            <p>{{profile.user.username}}</p>
            

        </div>
        
                  {% if user.profile.profile_photo %}

                <img class="rounded-circle account-img" style="border-radius:50%;height:200px; width:200px;" src="{{ user.profile.profile_photo.url }}">
                {% endif %}
                <div class="media-body">
                  <h2 class="account-heading">{{ user.username }}</h2>
                  <p class="text-secondary">{{ user.email }}</p>
                </div>
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Profile Info</legend>
                      {{ u_form }}
                      {{ p_form }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-info" type="submit">Update</button>
                  </div>
              </form>
            </div>


    </div>
    <div class="row">
        {% if images %}
            {% for image in images %}
                <div class="col-md-4">
                    <img width="200px" height="auto"   src="{{ image.image.url }}" alt="">
                </div>
            {% endfor %}
        {% else %}
            No images
        {% endif %}
    </div>
</div>
</div>

{% endblock %}