{% extends 'all-insta/base.html'%}
{% block content%}

<div class='container'>
<h1> Welcome to Instagram</h1>
<div class='row'>

{%for image in images%}
<div class='col-md-3'>


<p><b>Image Caption:</b> {{image.image_caption}}</p>
    <div class="gallery-item">

        <img src="{{image.image.url}}"  style="width: 700px; height: 700px" alt="image">

        
        <div class="gallery-item-info" col-md-8>

            <ul>
                <li class="gallery-item-likes"><span class="visually-hidden">...</span><i class="fas fa-heart" aria-hidden="true"></i></li>
                <li class="gallery-item-comments"><span class="visually-hidden">...</span><i class="fas fa-comment" aria-hidden="true"></i></li>
            </ul>

        </div>

    </div>
    {% for imag in image.comment_set.all %}
    <ul>
    <br>
<b>Comment:     </b> {{imag.comment_text}}
<br>
    </ul>
   Username: {{imag.profile.user.username}}
    {% endfor %}
    
    {% if request.user.is_authenticated %}
    <section class="input-row">
      <i class="fa # submit-like" aria-hidden="true"></i>
      <div class="comment-input-wrapper">
          <form action="{% url 'comment' post_id=image.id %}" method="post">
              {% csrf_token %}
              <input class="add-comment" name="comment_text" id="comment{{image.id}}" type="text" placeholder="Add a comment...">
</form>
<br>
      </div>
      <div class="hidden-data {{ post.pk }}" style="display: none;">
        <span class="post-pk">{{ post.pk }}</span>
      </div>
    </section>
  {% endif %}

{%endfor%}
        </div>
    </div>
</div>
{%endblock%}