{% load bootstrap3 %} 
{% load static%} 
{% block styles %} 
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/baseinstagram.css' %}"> {% endblock %} {% block content %}
<header>


    {% if message %}
        <h2> Found <strong> {{ profiles.count }}  </strong> for {{ message }} </h2>
    {% else %}  
        <h2> Found 0 profiles for the search name entered  </h2>
    {% endif %}

    <div class="container">
        {% if profiles %} {% for profile in profiles %}

        <div class="profile">

            <div class="profile-image">

                <img width="100px" height="auto"  src="{{profile.profile_photo.url}}" alt="">

            </div>

            <div class="profile-user-settings">

                <h1 class="profile-user-name">"{{profile.user.username}}"</h1>

                <button class="btn profile-edit-btn">Edit Profile</button>

                <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

            </div>

            <div class="profile-stats">

                <ul>
                    <li><span class="profile-stat-count">64</span> posts</li>
                    <li><span class="profile-stat-count">88</span> followers</li>
                    <li><span class="profile-stat-count">26</span> following</li>
                </ul>

            </div>

            <div class="profile-bio">

                <p><span class="profile-real-name">{{profile_item.first_name}}&nbsp;&nbsp; {{profile_item.last_name}}</span>
                    {{profile_item.bio}}️</p>

            </div>

        </div>
        <!-- End of profile section -->
                {%endfor%} 
            {%endif%}
        </div>
    <!-- End of container -->

    </header>
<main>

    </div>
{%endblock%}